/*@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap');*/
.h-500{height: 500px}

.font-f{
    font-family: sans-serif;
    font-weight: 900;
}
.color-black{
    color: black;
}

.bg-none{
    background: none !important;
}


.my-caption{
    background-color: rgba(0 ,0 , 0, 0.8);
    border-radius: 20px;
}


/**{*/
/*    margin: 0;*/
/*    padding: 0;*/
/*    box-sizing: border-box;*/
/*    font-family: 'Poppins', sans-serif;*/
/*}*/

